.header {
    border-bottom: 1px solid var(--color-grey);
    background-color: var(--color-primary);
    color: var(--color-light);

    &__inner {
        display: flex;
        align-items: center;
        height: 90px;
    }
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
}

.works {
    width: 100%;

}

.works-img {
    width: 50%;
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.filters {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    padding: 2em 2em 8em 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.filter {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.filter p {
    position: relative;
    bottom: 10px;
    padding: 0 0.5em;
    font-size: 20px;
    font-weight: 500;
}

.filter.active p {
    bottom: 24px;
}

.filter h1 span {
    position: relative;
    text-transform: uppercase;
    font-size: 75px;
    transition: color 0.3s;
    line-height: 0.5;
}

.filter.active h1 span {
    color: var(--color-primary);
}

.items {
    width: 60%;
    padding: 2em;
    display: flex;
}

.items-col {
    flex: 1;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 2em 1em;
}

.items-col:nth-child(2) {
    position: relative;
    top: 5em;
}

.item {
    padding: 1em 1em 4em 1em;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-copy p {
    font-size: 15px;
    font-weight: 500;
    margin: 0.5em 0;
}